@charset "utf-8";

body, input {
  font-family: 'Open Sans', sans-serif;
  font-size: 150%;
  font-weight: 300;
}

.resource {
  margin-bottom: 15px;
  position: relative;
  text-align: center;
}

.resource img {
  max-width: 90%;
  max-height: 300px;
}

.ori {
    bottom: 0;
    position: absolute;
    right: 0px;

    background-image: url("/images/others/opensource.svg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 25px auto;
    padding-left: 25px;
    width: 25px;
    height: 25px;
    display: block;
    margin-right: 30px;
    padding: 5px;
}

p.topic {
  background-size: 240px 240px;
  font-size: 134%;
  color: black;
  text-shadow: 0px 0px 5px #FFFFFF, 0px 0px 5px #FFFFFF, 0px 0px 10px #FFFFFF;
  padding: 20px;
  width: 200px;
  height: 200px;
  word-wrap: break-word;
  display: inline-block;
  text-align: left;
  vertical-align: text-top;
  box-shadow: 0px 0px 10px #888888;
}

.counter{
  font-size: 20px;
  padding: 2px 10px 2px 10px;
  border-radius: 3px;
  margin: 0px;
}

.bcblue{
  color: #FFFFFF;
  background-color:#1F7AFF;
  border-radius: 5px;
  margin: 6px 5px 6px 5px;
  text-align: center;
  display: inline-block;
  padding: 3px 20px 3px 20px;
  font-size: 20px;
  cursor: pointer;
}

.bcgreen{
  color: #FFFFFF;
  background-color:#31B304;
  border-radius: 5px;
  margin: 6px 5px 6px 5px;
  text-align: center;
  display: inline-block;
  padding: 3px 20px 3px 20px;
  font-size: 20px;
  cursor: pointer;
}

.dissap {
  display:none;
}





p.subject {
  background-size: 240px 240px;
  font-size: 128%;
  color: black;
  text-shadow: 0px 0px 5px #FFFFFF, 0px 0px 5px #FFFFFF, 0px 0px 10px #FFFFFF;
  padding: 20px;
  width: 200px;
  height: 200px;
  word-wrap: break-word;
  display: inline-block;
  text-align: left;
  vertical-align: text-top;
  box-shadow: 0px 0px 10px #888888;
}



.chapter{
  text-decoration: none;
  color: black;
  border: 3px solid black;
  padding: 5px;
  border-radius: 7px;
}

.post{
  background-size: 90px 90px;
  font-size: 55%;
  color: black;
  padding: 5px;
  width: 80px;
  height: 80px;
  word-wrap: break-word;
  display: inline-block;
  text-align: left;
  vertical-align: text-top;
  text-decoration: none;
  border-style: solid;
}

.postbox{
  margin: auto;
  width: 80%;
  padding: 50px;
  border-style: solid;
  border-radius: 30px;
  border-width: 10px;
}


#search-results a {
  text-decoration: none;
  color: black;
}

#search-results li{
   list-style: none;
}

input[type=text], select {
    padding: 4px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid ;
    border-color: rgb(0,139,139);
    border-radius: 4px;
    box-sizing: border-box;
}

.plus{
  margin: auto;
  width: 80%;
  padding: 50px;
}

.simplebox {
    padding: 25px;
    border: 5px solid black;
    margin: 20px 0px 20px 0px ;
}

.bluebox {
  background-color: lightblue;
    padding: 25px;
    border: 5px solid blue;
    margin: 20px 0px 20px 0px ;
}
