
.basic_shapes{
  background-image: url('/images/subjects/basic_shapes.jpg');
}

.numbers{
  background-image: url('/images/subjects/numbers.jpg');
}

.equations{
  background-image: url('/images/subjects/equations.jpg');
}

.combinatorics{
  background-image: url('/images/subjects/combinatorics.jpg');
}

.number_theory{
  background-image: url('/images/subjects/number_theory.jpg');
}

.trigonometry{
  background-image: url('/images/subjects/trigonometry.jpg');
}

.complex_numbers{
  background-image: url('/images/subjects/complex_numbers.jpg');
}

.derivation_integration{
  background-image: url('/images/subjects/derivation_integration.jpg');
}

.functions{
  background-image: url('/images/subjects/functions.jpg');
}



.classical_geometry{
  background-image: url('/images/subjects/classical_geometry.jpg');
}

.conics{
  background-image: url('/images/subjects/conics.jpg');
}

.affine_projective_geometry{
  background-image: url('/images/subjects/affine_projective_geometry.jpg');
}

.spherical_geometry{
  background-image: url('/images/subjects/spherical_geometry.jpg');
}

.the_4_dimension{
  background-image: url('/images/subjects/the_4_dimension.jpg');
}

.hyperbolic_geometry{
  background-image: url('/images/subjects/hyperbolic_geometry.jpg');
}

.fractal_geometry{
  background-image: url('/images/subjects/fractal_geometry.jpg');
}

.topology{
  background-image: url('/images/subjects/topology.jpg');
}



.linear_algebra{
  background-image: url('/images/subjects/linear_algebra.jpg');
}

.group_theory{
  background-image: url('/images/subjects/group_theory.jpg');
}

.ring_theory{
  background-image: url('/images/subjects/ring_theory.jpg');
}

.galois_theory{
  background-image: url('/images/subjects/galois_theory.jpg');
}

.commutative_algebra{
  background-image: url('/images/subjects/commutative_algebra.jpg');
}



.real_analysis{
  background-image: url('/images/subjects/real_analysis.jpg');
}

.differential_calculus{
  background-image: url('/images/subjects/differential_calculus.jpg');
}

.integral_calculus{
  background-image: url('/images/subjects/integral_calculus.jpg');
}

.complex_analysis{
  background-image: url('/images/subjects/complex_analysis.jpg');
}



.probability{
  background-image: url('/images/subjects/probability.jpg');
}

.statistics{
  background-image: url('/images/subjects/statistics.jpg');
}



.graph_theory{
  background-image: url('/images/subjects/graph_theory.jpg');
}

.numerical_analysis{
  background-image: url('/images/subjects/numerical_analysis.jpg');
}

.simplex_method{
  background-image: url('/images/subjects/simplex_method.jpg');
}



.set_theory{
  background-image: url('/images/subjects/set_theory.jpg');
}

.logic{
  background-image: url('/images/subjects/logic.jpg');
}

.categories{
  background-image: url('/images/subjects/categories.jpg');
}



.physics{
  background-image: url('/images/subjects/physics.jpg');
}

.computer_science{
  background-image: url('/images/subjects/computer_science.jpg');
}

.economy{
  background-image: url('/images/subjects/economy.jpg');
}



.dynamical_systems{
  background-image: url('/images/subjects/dynamical_systems.jpg');
}

.differential_equations{
  background-image: url('/images/subjects/differential_equations.jpg');
}

.partial_differential_equations{
  background-image: url('/images/subjects/partial_differential_equations.jpg');
}



.algebraic_geometry{
  background-image: url('/images/subjects/algebraic_geometry.jpg');
}

.functional_analysis{
  background-image: url('/images/subjects/functional_analysis.jpg');
}

.algebraic_topology{
  background-image: url('/images/subjects/algebraic_topology.jpg');
}

.differentiable_manifolds{
  background-image: url('/images/subjects/differentiable_manifolds.jpg');
}

.riemannian_geometry{
  background-image: url('/images/subjects/riemannian_geometry.jpg');
}



.topological_degree{
  background-image: url('/images/subjects/topological_degree.jpg');
}

.morse_theory{
  background-image: url('/images/subjects/morse_theory.jpg');
}

.homological_algebra{
  background-image: url('/images/subjects/homological_algebra.jpg');
}



.algebraic_number_theory{
  background-image: url('/images/subjects/algebraic_number_theory.jpg');
}

.analytic_number_theory{
  background-image: url('/images/subjects/analytic_number_theory.jpg');
}

.complex_manifolds{
  background-image: url('/images/subjects/complex_manifolds.jpg');
}

.lie_theory{
  background-image: url('/images/subjects/lie_theory.jpg');
}

.bundles{
  background-image: url('/images/subjects/bundles.jpg');
}

.sheaf_theory{
  background-image: url('/images/subjects/sheaf_theory.jpg');
}

.orbifolds{
  background-image: url('/images/subjects/orbifolds.jpg');
}



.breathtaking_math_breakthroughs{
  background-image: url('/images/subjects/breathtaking_math_breakthroughs.jpg');
}