<footer class="site-footer">

<div style="height: 80px; line-height: 110px; margin-left: 5px;">

	<a href="/plus/{{page.lang}}/about.html"><img src="/images/others/about.svg" height="40" width="40" style="vertical-align:middle"></a>
	<a href="/plus/{{page.lang}}/manual.html"><img src="/images/others/manual.svg" height="40" width="40" style="vertical-align:middle"></a>
    <a href="/plus/{{page.lang}}/contribution.html"><img src="/images/others/contribution.svg" height="40" width="40" style="vertical-align:middle"></a>
	<a href="mailto:mathifold@gmail.com"><img src="/images/others/mail.svg" height="40" width="40" style="vertical-align:middle"></a>
	<font color="gray" style="vertical-align:middle">&copy 2017 Mathifold</font>

</div>

</footer>
