<header class="site-header">

<div>
	
	<a href="/index/{{page.lang}}/">Mathifold</a>
	{% if page.type == "subject" %}
		{% assign linktopic=(site.pages | where: 'ident', {{page.parent}} | where: 'lang', {{page.lang}})%}
		{{" > "}}
		<a href="/topics/{{page.lang}}/{{page.parent}}.html">{{linktopic[0].title}}</a>
	{% endif %}
	

	<div style="float: right">
		{% capture actual %}{{page.url}}{% endcapture %}
		{% capture mylang %}/{{page.lang}}/{% endcapture %}
		{% for i in site.data.languages %}
			{% capture linklang %}/{{i}}/{% endcapture %}
			{% if page.type != "post" %}
				<a href="{{ actual | replace: mylang, linklang }}"><img src="/images/{{i}}.svg" height="40" width="40"></a>
			{% else %}
				{{"To do"}}
			{% endif %}
		{% endfor %}
	</div>
</div>

</header>
