
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Sage Template</title>

    <script src="https://sagecell.sagemath.org/static/embedded_sagecell.js"></script>
    <script>$(function () {
      // Make *any* div with class 'compute' a Sage cell
      sagecell.makeSagecell({inputLocation: 'div.sage', hide: ["editor", "evalButton", "permalink"], autoeval: 1});
      });
    </script>

  </head>

  <body>

    <div class="sage"><script type="text/x-sage">

var('x y')
@interact
def _(f = input_box(default=(-y,x)), xrange = slider(1, 10, 1, 3), yrange = slider(1, 10, 1, 3)):
    show(plot_vector_field(f, (x,-xrange,xrange), (y,-yrange,yrange), aspect_ratio=1))

    </script></div>

  </body>

</html>
