---
layout: default
---

<div style="position: relative;" align="center">
<p style="font-size: 48px;">MATHIFOLD</p>
</div>

<ul style="position: relative;" align="center" class="topics--list">

{% for i in site.data.nav.map %}

	{% assign c = 0 %}
	{% assign d = 0 %}
	{% for j in i.children %}
		{% assign a = j.children | size %}
		{% assign c = c | plus: a %}
		{% for k in j.children %}
			{% assign listposts = site.posts | where: 'lang', page.lang %}
			{% for l in listposts %}
				{% if l.parent == k.ident %}
					{% assign d = d | plus: 1 %}
				{% endif %}
			{% endfor %}
		{% endfor %}
	{% endfor %}

	<!-- Topics -->
	<li class="topic_thumbnail {{i.ident}}">
		<a href="/topics/{{page.lang}}/{{i.ident}}.html">
	    <h4 class="topic-title">{{i[page.lang]}}</h4>
			<div class="counter-container">
				<span class="counter" style="background-color: #00FF99;">{{i.children | size}}</span>
				<span class="counter" style="background-color: #00DD66;">{{c}}</span>
				<span class="counter" style="background-color: #00BB33;">{{d}}</span>
			</div>
		</a>
	</li>
{% endfor %}

</ul>
