---
layout: default
---

<div style="position: relative;" align="center">
<p style="font-size: 48px;">MATHIFOLD</p>
</div>

<div style="position: relative;" align="center">

{% for i in site.data.nav.map %}
	
	{% assign c = 0 %}
	{% for j in i.children %}
		{% assign a = j.children | size %}
		{% assign c = c | plus: a %}		
	{% endfor %}

	<a style="padding: 20px;position: relative;" 
      href="/topics/{{page.lang}}/{{i.ident}}.html">
      <p class="topic {{i.ident}}">{{i[page.lang]}}
      <span style="position: absolute;bottom: -200px;right: 35px;">
      <span class="counter" style="background-color: #00FF99;">{{i.children | size}}</span>
      <span class="counter" style="background-color: #00DD66;">{{c}}</span>
      <span class="counter" style="background-color: #00BB33;">*</span>
      </span></p></a>
	
{% endfor %}

</div>

