---
layout: default
---

{% assign iden = site.data.nav.map | where: 'ident', page.ident %}

<div style="position: relative;" align="center">
<p style="font-size: 40px;">{{page.title}}</p>
</div>

<ul style="position: relative;" align="center" class="topics--list">

{% for i in iden[0].children %}
	{% assign c = 0 %}
	{% assign listposts = site.posts | where: 'lang', page.lang %}
	{% for l in listposts %}
		{% for j in i.children %}
			{% if l.parent == j.ident %}
				{% assign c = c | plus: 1 %}
			{% endif %}
		{% endfor %}
	{% endfor %}

	<!-- Subjects -->
	<li class="topic_thumbnail {{i.ident}}">
		<a href="/subjects/{{page.lang}}/{{i.ident}}.html">
			<h4 class="topic-title">{{i[page.lang]}}</h4>
			<div class="counter-container">
	      <span class="counter" style="background-color: #00DD66;">{{i.children | size}}</span>
	      <span class="counter" style="background-color: #00BB33;">{{c}}</span>
	    </div>
		</a>
	</li>
{% endfor %}

</ul>
